<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Autor del documento -->
    <meta name="author" content="juandonoso@liceovvh.cl">
    <!-- link de CSS -->
    <link rel="stylesheet" href="dashboard.css">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <!-- Link bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- link de bootstrap icons -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>Document</title>
</head>

<body>
    <div class="mi-tabla">
        <table>
            <tr>
                <td>Nombre</td>
                <td>Email</td>
                <td>Tipo de usuario</td>
                <td>Acciones</td>
            </tr>

            <tr>
                <td>Patricia</td>
                <td>patricia@condindojo.com</td>
                <td>Admin</td>
                
                <td class="botones-Acciones">
                    <i class="bi bi-pencil-fill"></i>
                    <i class="bi bi-trash"></i>
                    <i class="bi bi-envelope"></i>
                </td>
            </tr>

            <tr>
                <td>Andrea</td>
                <td>andrea@condindojo.com</td>
                <td>Usuario</td>
                
                <td class="botones-Acciones">
                    <i class="bi bi-pencil-fill"></i>
                    <i class="bi bi-trash"></i>
                    <i class="bi bi-envelope"></i>
                </td>
            </tr>


            <tr>
                <td>Katya</td>
                <td>katya@codindojo.com</td>
                <td>Usuario</td>

                <td class="botones-Acciones">
                    <i class="bi bi-pencil-fill"></i>
                    <i class="bi bi-trash"></i>
                    <i class="bi bi-envelope"></i>
                </td>
            </tr>
        </table>

    </div>
</body>

</html>