<!DOCTYPE html>
<html>

<head>
    <title>BookHub</title>
</head>


<body>

    <h1>📚 BookHub</h1>


    <h2>Registro</h2>

    <form action="/registro" method="POST">

        <input name="nombre" placeholder="Nombre">

        <input name="apellido" placeholder="Apellido">

        <input name="email" placeholder="Correo">

        <input name="password" type="password" placeholder="Contraseña">


        <button>
            Registrarse
        </button>

    </form>


    <hr>


    <h2>Login</h2>


    <form action="/login" method="POST">

        <input name="email" placeholder="Correo">


        <input name="password" type="password" placeholder="Contraseña">


        <button>
            Ingresar
        </button>

    </form>


</body>

</html>